<%- contentFor('app') %>
<div class="home">
    <div class="welcoming">Bem vindo ao PetMarket</div>
    <hr class="divider blue"/>
    <div class="welcoming-text">Aqui você encontra tudo para seu Pet com entrega direto em sua casa!</div>
</div>

<div class="categories">
    <% for(category of menuItems) {%>
        <% if (category.stores && category.stores.length > 0) { %>
            <div class="category">
                <div class="title"><%= category.name %></div>
                <hr/>
                <div class="stores">
                    <% for(store of category.stores) {%>
                        <a href="/catalogo">
                            <div class="card small">
                                <div class="card-image waves-effect waves-block waves-light">
                                  <img class="activator" src="<%= store.img %>">
                                </div>
                                <div class="card-content">
                                  <span class="card-title activator grey-text text-darken-4"><%= store.name %></span>
                                  <p><span><%= store.time %> - <%= store.tax %></span></p>
                                </div>
                            </div>
                        </a>
                    <% } %>
                </div>
            </div>
        <% } %>
    <% } %>
</div>



<link rel="stylesheet" type="text/css" href="css/home.css">