<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Petmarket - Tudo para seu Pet</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
    crossorigin="anonymous"
  />
</head>

<body>
  <header>
     <nav class="navbar navbar-default app-navbar">
       <div class="app-logo">
         <img src="img/logo-generico.jpg"/>
       </div>

       <div class="search-box">
         <input type="text" placeholder="Busque qualquer produto">
       </div>
     </nav>
  </header>  

   <main>
     <div class="container">
      <%- body %>
     </div>
   </main>

  <footer>
    Petmarket
  </footer>
</body>
</html> 