<!DOCTYPE html>
<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Petmarket - Tudo para seu Pet</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/layout.js"></script>
</head>

<body>
    <header>

        <nav class="blue lighten-5">
            <div class="nav-wrapper">
                <a class="navbar-brand" href="index.html">PetMarket</a>

                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons"
                                style="color: rgba(0,0,0,0.87);">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </nav>

        <ul id="slide-out" class="sidenav sidenav-fixed blue lighten-5">
            <li>
                <a class="waves-effect" href="#!">
                    <i class="material-icons">monetization_on</i> Promoções
                </a>
            </li>

            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header">
                            <i class="material-icons">pets</i>
                            Petshops
                            <i class="material-icons" style="float: right;">arrow_drop_down</i>

                        </a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#!">Ração</a></li>
                                <li><a href="#!">Brinquedos</a></li>
                                <li><a href="#!">Casinhas</a></li>
                                <li><a href="#!">Roupinhas</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>

            <li>
                <a class="waves-effect" href="#!">
                    <i class="material-icons">medical_services</i> Veterinários
                </a>
            </li>

            <li>
                <div class="divider"></div>
            </li>
        </ul>
    </header>

    <main>
        <div class="app">
            <!-- aqui vai o componente que é renderizado pelo ejs - olhar o exemplo de home.html -->
            <%- app %>
        </div>
    </main>
</body>

</html>