<%- contentFor('app') %>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="https://www.petlove.com.br/images/products/223357/large/Ra%C3%A7%C3%A3o_Seca_Pedigree_para_C%C3%A3es_Adultos_Ra%C3%A7as_Pequenas_310484_1_20kg.jpg?1587403804" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title"><a href="/produto" title="View Product">Ração Pedigree para cachorro</a></h4>
                        <p class="card-text">Ração seca pedigree de 20kg para cachorro adulto.</p>
                        <div class="row">
                            <div class="col">
                                <p class="btn btn-danger btn-block">R$195,00</p>
                            </div>
                            <div class="col">
                                <a href="#" class="btn btn-success btn-block">Adicionar ao carrinho</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="https://www.extra-imagens.com.br/PetShop/cachorro/BrinquedosparaCaes/1501182823/1211465984/brinquedo-para-cachorro-bola-de-tenis-com-som-kit-com-2-pcs-1501182823.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title"><a href="/produto" title="View Product">Bolinha de tenis de borracha</a></h4>
                        <p class="card-text">Bolinha de tenis de brinquedo feito de borracha. Ideal para cachorros pequenos.</p>
                        <div class="row">
                            <div class="col">
                                <p class="btn btn-danger btn-block">R$19,99</p>
                            </div>
                            <div class="col">
                                <a href="#" class="btn btn-success btn-block">Adicionar ao carrinho</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="https://www.casasbahia-imagens.com.br/PetShop/cachorro/ColeirasGuias/12986553/1233496806/coleira-peitoral-para-cachorro-com-guia-adaptador-azul-m-12986553.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title"><a href="/produto" title="View Product">Coleira para Cachorro</a></h4>
                        <p class="card-text">Coleira estilizada ideal para cachorros de pequeno porte.</p>
                        <div class="row">
                            <div class="col">
                                <p class="btn btn-danger btn-block">R$59,99</p>
                            </div>
                            <div class="col">
                                <a href="#" class="btn btn-success btn-block">Adicionar ao carrinho</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="https://www.royalpets.com.br/media/catalog/product/cache/1/image/500x500/9df78eab33525d08d6e5fb8d27136e95/a/r/arranhador_casinha_com_rede_amarelo.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title"><a href="/produto" title="View Product">Casinha para gato</a></h4>
                        <p class="card-text">Arranhador com toca e rede adorável para gatinhos. </p>
                        <div class="row">
                            <div class="col">
                                <p class="btn btn-danger btn-block">R$229,00</p>
                            </div>
                            <div class="col">
                                <a href="#" class="btn btn-success btn-block">Adicionar ao carrinho</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="https://ae01.alicdn.com/kf/HTB1.aDabL5G3KVjSZPxq6zI3XXaj/Bolsa-transportadora-astronauta-para-gatos-bolsa-respir-vel-para-transporte-de-animais-de-estima-o-transparente.jpg_q50.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title"><a href="/produto" title="View Product">Bolsa transportadora de gatos</a></h4>
                        <p class="card-text">Bolsa transportadora astronauta para gatos, respirável, transparente, com espaço.</p>
                        <div class="row">
                            <div class="col">
                                <p class="btn btn-danger btn-block">R$49,99</p>
                            </div>
                            <div class="col">
                                <a href="#" class="btn btn-success btn-block">Adicionar ao carrinho</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="https://buono.pet/wp-content/uploads/2018/07/fontebebedouropremium.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title"><a href="/produto" title="View Product">Bebedouro para Pets</a></h4>
                        <p class="card-text">Fonte Bebedouro para Cães e Gatos Premium Preto 110v.</p>
                        <div class="row">
                            <div class="col">
                                <p class="btn btn-danger btn-block">R$189,90</p>
                            </div>
                            <div class="col">
                                <a href="#" class="btn btn-success btn-block">Adicionar ao carrinho</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2 </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>