body {
  font-size: 16px;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}

header > nav {
  position: fixed;
  z-index: 1000;
}

.nav-wrapper {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 22% 41% 40%;
}

.navbar-brand {
  padding: 0;
  text-align: center;
  color: rgba(0,0,0,0.87);
}

.sidenav {
  padding: 70px 0;
}

.collapsible-header {
  padding: 0 0 0 32px !important;
}

main {
  padding-left: 300px;
  padding-top: 65px;
}

.app {
  padding: 30px;
}

.product-page {
  padding: 2rem 6rem;
}

.card-img-top{
  max-width: 600px;
  height: 400px;
}

.divider {
  margin: 1rem 44%;
}

.product-img {
  width: 100%;
  position: relative;
}

.product-price, .avaliacao-vendedor {
  font-size: 1.5rem;
}

.product-details {
  font-size: 1.2rem;
}

.product-info{
  display: grid;
}

.input-field {
  margin: 0 !important;
  padding: 0 !important;
}

.buy-button {
  display: flex;
  justify-content: center;
}

.buy-button .btn.buy {
  height: 45px;
}

.btn.chat {
  width: 110px;
}

.nome-produto-link {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.line-break {
  border: 1px solid black;
  width: 1040px;
  margin-left: 255px;
  opacity: 16%;
}

.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

.right {
  text-align: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}
/* Individual bars */
.bar-5 {width: 0%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 0%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 0%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 0%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 0%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}